# Application
APP_TITLE=RAG_API

# PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_password_here
POSTGRES_DB=rag_api_db

# Full DB URLs
DATABASE_URL=postgresql+psycopg2://postgres:your_password_here@db:5432/rag_api_db
TEST_DATABASE_URL=postgresql+psycopg2://postgres:your_password_here@db:5432/rag_api_test_db

# Redis
REDIS_URL=redis://redis:6379/0
SEARCH_CACHE_TTL=60